<div class="content">
  <p>
    We don't get the opportunity to get on a vacation to often but when we do we
    have fun.
  </p>
  <p>
    <a
      [routerLink]="['/ftbragg2016']"
      routerLinkActive="router-link-active"
      class="fa fa-map"
    >
      2016 - Highway 1 from San Francisco to Fort Bragg</a
    >
  </p>
  <p>
    <a
      [routerLink]="['/nola2019']"
      routerLinkActive="router-link-active"
      class="fa fa-map"
      >2019 - New Orleans Louisiana (NOLA)</a
    >
  </p>
  <p>
    <a
      [routerLink]="['/berlin2019']"
      routerLinkActive="router-link-active"
      class="fa fa-map"
    >
      2019 - Berlin-Ichthyosaur State Park</a
    >
  </p>
  <p>
    <button (click)="logout()">
      Logout
    </button>
  </p>
</div>
