.owl-carousel image {
  width: 90% !important;
  margin: 10% auto;
}

.owl-carousel .owl-nav {
  overflow: hidden;
  height: 0px;
}

.owl-carousel .nav-btn {
  height: 47px;
  position: absolute;
  width: 56px;
  cursor: pointer;
  top: 30% !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.2;
}

.owl-carousel .prev-slide {
  background: url(../../assets/icon/nav-icon.png) no-repeat scroll 0 0;
  left: -33px;
}

.owl-carousel .next-slide {
  background: url(../../assets/icon/nav-icon.png) no-repeat scroll -24px 0px;
  right: -33px;
}

.owl-carousel .prev-slide:hover {
  background-position: 0px -53px;
}

.owl-carousel .next-slide:hover {
  background-position: -24px -53px;
}
.content{
  margin: 20px;
}

.poem{
  font-family: cursive;
  font-size: 16px;
  color: green;
  padding: 25px;
}

ul
{
font-size: 16px;
}

.thumbnail {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100px;
  float: left;
}

.thumbnail:hover {
  position:relative;
  top:-25px;
  left:-35px;
  width:500px;
  height:auto;
  display:block;
  z-index:999;
}

.doglist{
  margin: 15px;
  font-size: 16px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}

.rainbowbridge{
  margin: 30px;
}
