<div class="content">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
  <header>
    <img src="..\..\assets\icon\pawprintheart.png" class='thumbnail' style="height: 25px width= 25px"><h2>Our Pack</h2>
    <p>
      Our family is a rescue family, and in most cases I think the dogs have
      rescued the family as much as the family has rescued the dogs
    </p>
  </header>

<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
    <div class="item" *ngFor="let image of images;let i= index">
      <img class="slide-image" src="{{image.image}}" >
      <div class="slide-text">
        <h4>{{image.text}}</h4>
      </div>
    </div>
  </ng-template>
  </ngb-carousel>

  <h3>Our Current Pack</h3>
  <p>All our dogs are rescues and all of them have a story</p>
  <div class="doglist">
    <a
      ><img class="thumbnail" src="..\..\assets\images\dogs\allie.jpg" alt=""
    /></a>
    <h3>Allie</h3>
    <p>
      After Shadow's passing we wanted another large dog, preferably a Chow mix.
      After looking around Lisa found Allie in a rescue just outside of
      Sacramento. Allie is now the the old lady of the house and walks around
      like she owns the place... well walking is giving it a stretch, more so
      she waddles.
    </p>

    <p>
      To this day she is the protector of the house and has become Rheanna's
      dog, and sleeps with her every night.
    </p>
  </div>
  <div class="doglist">
    <a
      ><img class="thumbnail" src="..\..\assets\images\dogs\Broc1.jpg" alt=""
    /></a>
    <h3>Brocolli (Broc)</h3>
    <p>
      Broc started off as a joke, I found him on the
      <a href="http://www.brusselsgriffonrescue.org/" target="_blank"
        >Brussel Griffon Rescue site</a
      >
      and sent an email to Lisa with his picture and the comment "The only way
      you are going to get me to like brocolli". Next thing I know we are
      heading to LA to pick up a dog.
    </p>
    <p>
      Now I am wrapped around his little paw and it will be a very sad day for
      me when my little buddy passes over the rainbow bridge
    </p>
  </div>
  <div class="doglist">
    <a
      ><img class="thumbnail" src="..\..\assets\images\dogs\guiness.jpg" alt=""
    /></a>
    <h3>Guinness Spooky (Goober)</h3>
    <p>
      In the fall of 2017 Reno pet rescue groups had a massive event with most
      of the rescue groups in the area attending (SPCA, Humane Society, Resq,
      etc). Lisa and I went down to see what was happening and who we could
      donate to, at that time we were really not looking for a dog.
    </p>
    <p>
      At the SPCA area they had one dog left, "Spooky" a black and tan pitbull
      and lab mix. He was friendly and was constantly wagging his tail. I loved
      him... I told Lisa that we would go for lunch and if he was still there we
      were taking him home. Well to make a long story short he very quickly
      became the latest member of our family.
    </p>
  </div>
  <div class="doglist">
    <a
      ><img class="thumbnail" src="..\..\assets\images\dogs\pumpkin.jpg" alt=""
    /></a>
    <h3>Pumpkin</h3>
    <p>
      Pumpkin is kind of a rescue in that he belonged to our oldest daughter.
      When she was no longer able to look after him Lisa quickly made the little
      retard her own, and now the two are pretty much in seperable. As you can see Pumpkin loves his ducky.
    </p>
  </div>
  <div class="doglist">
    <a
      ><img class="thumbnail" src="..\..\assets\images\dogs\pic05.jpg" alt=""
    /></a>
    <h3>Zues</h3>
    <p>
      Zues is also kind of a rescue, and has been affectionately known as the
      welfare dog as all 3 of his owners that I could find all work(ed) for
      DWSS. Zues came to us by way of a friend Tim, whose life situation changed
      to the point that he could no longer keep Zues. Lisa and I both agreed
      that we will board Zues until such time as Tim's life situation changed or
      Zues passes away
    </p>
    <p>
      Zues is the old man of house and his arthritis is slowly getting the
      better of him. Although he still thinks he is a puppy and wants to run and
      play but the old joints just will not allow him.
    </p>
  </div>
  <div class="rainbowbridge">
    <h1 style="text-align: center">
      In memoriam of those who have left us with their love
    </h1>

    <div class="poem">
      <h1>You did me kindness</h1>
      <div class="poembody">
        <p>
          When my legs grew too weak to carry me,<br />
          And my tired eyes could no longer see,<br />
          When it pained me to struggle for each new breath,<br />
          When my heart beat weaker, and I drew closer to death,<br />
          You did me the kindness of letting me go.<br />
          You didn't make me hang on when I was suffering so.<br />
          I promise I don't think that you loved me any less,<br />
          And I love you all the more for your selflessness.<br />
          You freed my spirit from its body so wracked with pain,<br />
          And let me run the fields of Heaven, where I'm sure we'll meet again.
        </p>
      </div>
    </div>

    <ul>
      <li class="fa fa-paw">
        <i>Jessie - Purebred Cockapoo (F - age 18)</i> -- Our Frankendog (Old,
        Senile and only has one eye but keeps on going) -- Update, Jessie passed
        away on September 8, 2015 at the age of 20.
      </li>
      <li class="fa fa-paw">
        <i>Bimi - Purebred Brussel Griffon (F - age 8)</i> -- The queen bitch of
        the pack... she lords over every one and she knows it -- Update, Bimi
        passed away on October 26, 2015 at the age of 9, she had been fighting
        diabetes for 5 years and her kidneys shut down... she will be sorely
        missed.
      </li>
      <li class="fa fa-paw">
        <i>Ziggy - Pure Mutt (M - age 12)</i> -- Do not let Lisa into a petstore
        when the SPCA is in there.... as adorable as he is dumb. ;) -- Update,
        Ziggy passed away on February 29th, 2016 at the age of 12. A greater
        companion a child could never have.
      </li>
      <li class="fa fa-paw">
        <i>Shadow - Chow Lab (M)</i> -- Shadow was the first dog Lisa and I got
        together. Although he was with us only for a short time (7-8 years) he
        still has an impact on our life to this day.
      </li>
    </ul>
  </div>
</div>
