<div class="content">
  <div class="pgheader">
    <img class="pgicon" src="../../assets/images/broccoli_small.png" />
    <div class="pgtitle">VanCowboy Home Page</div>
  </div>

  <section class="section">
    <img
      class="image iconleft"
      src="../../assets/images/Canadican2.png"
      alt=""
    />
    <h2>Living in the USA</h2>
    <p>
      I am a dual citizen with both Canadian and US citizenship. Currently I am
      living in Reno Nevada,
      <a href="http://renohistorical.org">a small town with a big history</a>
    </p>
  </section>
  <!-- Work Stuff -->
  <div class="pgsubtitle">Work Stuff</div>
  <section>
    <img
      class="image iconright"
      src="../../assets/images/nevada_seal.jpg" alt="" />
      <p>
        I started working for the State of Nevada in 1998 with the State
        Contractors Board and have worked with 3 other agencies since then.
        Currently I am employed by DWSS in the Child Support Enforcement Program
        (CSEP) as a developer.
      </p>
      <p>
        Java, HTML 5, CSS, SQL, C#, Agile, SCRUM, & Angular wow that is a lot of
        programming "stuff" I have learned in the last couple of years, and I
        love every bit of it.
      </p>
  </section>
  <!-- Fun Stuff -->
  <div class="pgsubtitle">
    Fun Stuff
    <h5><p>Just some fun stuff I like or am involved in.</p></h5>
  </div>
  <section class="section">
    <img
      class="image iconright"
      src="../../assets/images/lotroring.jpg"
      alt=""
    />

    <p>
      After playing AD&D on a regular basis as a teen and young adult, I moved
      to Reno where gaming brought on a whole new meaning. I used to find
      casino's kind of different and fun (with limits). I now find them a source
      of entertainment like going to the movies (although, with the price of
      movie tickets, gambling can be cheaper... it is all about budgeting).
    </p>
    <p>
      I also enjoy 2 online games, one on the PC the other a mobile game for
      tablet or PC.<br />
      Lord Of The Rings Online - PC Based MMORPG.<br />
      MTGPQ (Magic The Gathering Puzzle Quest) - Mobile game.<br />
    </p>

    <section class="section">
      <img class="image iconleft" src="../../assets/images/dog1.jpg" alt="" />
      <h3 class="major">Dogs</h3>
      <p>
        With a total of 7 dogs ranging from of all ages we have a complete pack.
        Check out our Dogs Page.
      </p>
      <section class="section">
        <a href="https://nevadawolfpack.com/index.aspx" target="_blank">
          <img
            class="image iconright"
            src="../../assets/images/wolf-pack-logo.jpg"
            alt=""
        /></a>
        <h3 class="major">The Other Pack</h3>
        <p>
          The Nevada Wolf Pack The Nevada Wolf Pack, one of only two teams
          nationally to use the designation (North Carolina State is the other,
          though they use Wolfpack as one word while Nevada uses two words with
          a capital 'P'), has been using the Wolf Pack designation since at
          least the early 1920s.
        </p>
        <P>
          Nevada's first athletic teams in the late 1890s and early 1900s were
          referred to as the Sagebrushers or even the Sage Hens after Nevada's
          state flowering plant, the sagebrush. There are references in print to
          the 'Sage Warriors', although none of these names were the official
          mascot of Nevada's athletic teams.</P
        ><P>
          In the 1921-22 athletic season, a local writer described the spirited
          play of a Nevada team as a 'pack of wolves'. The name stuck and soon
          almost every reference to the athletic teams was the Nevada Wolves. In
          1923, the students officially designated 'Wolves' as the school's
          mascot.</P
        ><P>
          Since all teams are a group of players, the word pack followed
          quickly. In 1928-29, the Nevada student handbook referred to the
          athletic teams as Wolf Pack and two school songs were adopted,
          entitled 'The Wolf Pack' and 'Here Comes the Wolf Pack'.</P
        ><P>
          While the academic institution is known as the University of Nevada,
          Reno, the intercollegiate athletics teams at the University are
          referenced as "Nevada".
        </P>
        <a
          href="https://nevadawolfpack.com/index.aspx"
          target="_blank"
          class="special"
          >Wolf Pack Home Page</a
        >
      </section>
      <section>
        <img
          class="image iconleft"
          src="../../assets/images/legolas_bow.jpg"
          alt=""
        />
        <h3 class="major">Archery</h3>
        <p>My current hobby, Archery...</p>
        <p>
          Set up my own 20 yard archery range in the back yard. Great stress
          relief.
        </p>
      </section>
      <section>
        <a href="https://www.milb.com/reno" target="_blank"
          ><img
            class="image iconright"
            src="../../assets/images/reno_aces.png"
            alt="Reno Aces"
        /></a>
        <h3 class="major">Reno Aces</h3>
        <p>
          The Reno Aces are a Minor League Baseball franchise in the western
          United States, based in Reno, Nevada. The team is a member of the
          Pacific Coast League and is the Triple-A affiliate of the Arizona
          Diamondbacks.
        </p>
        <a href="https://www.milb.com/reno" target="_blank" class="special"
          >Learn more about the Reno Aces</a
        >
      </section>
    </section>
  </section>
</div>
